---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/sections/Footer.astro";
import Header from "@/sections/Header.astro";
import Pricing from "@/sections/Pricing.astro";
import { getLandingData } from "@/services/data.service";

const data = await getLandingData();
---

<Layout meta={data.meta}>
	<Header data={data.headerData} />
  	<main class="flex flex-col justify-center items-center">
    	<div class="w-3/4">
			<Pricing data={data.pricingData} />
			<!-- 
				<Adventajes data={data.adventajesData} />
			-->
    	</div>
    	<Footer data={data.footerData} />
  	</main>
</Layout>
